[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jira = "*"
asyncssh = "*"
coloredlogs = "*"

[dev-packages]
pylint = "*"
ipython = "*"
nose = "*"
pytest = "*"
pytest-cov = "*"
rope = "*"
mypy = "*"
"flake8" = "*"
pytest-asyncio = "*"

