[remote "qt-cherry-pick-bot"]
  url = https://qt-cherry-pick-bot.herokuapp.com/gerrit-events
  maxTries = 10
  event = patchset-created
  event = change-merged
  event = change-abandoned
  event = change-staged
  event = change-unstaged
  event = comment-added
  event = change-integration-pass
  event = change-integration-fail
