[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
argcomplete = "*"
influxdb_client = "*"
asyncssh = "*"
requests = "*"
pygerrit2 = "*"
"tl.testing" = "*"

[dev-packages]
pytest = "*"
requests_mock = "*"
mock = "*"
pylint = "*"
flake8 = "*"

[requires]
python_version = "3"
