[Global]
JenkinsUrl = "http://qt-ci.digia.com/"
JenkinsUser = qt-integration

# JenkinsToken is sensitive and should not be stored in some plaintext file
JenkinsToken =

# abort builds as soon as any individual configuration fails
JenkinsCancelOnFailure = true

MailTo = ci-reports@qt-project.org
MailReplyTo = ci-reports@qt-project.org
MailFrom = Qt Continuous Integration System <ci-noreply@qt-project.org>
#MailSmtp = smtp.example.com

LogBaseHttpUrl = "http://testresults.qt-project.org/ci"
LogBaseSshUrl = "ssh://qtintegration@testresults.qt-project.org/var/www/testresults/ci"

HttpPort = 7181
TcpPort = 7182

WorkingDirectory = ~/.qt-ci

# after a change is staged, we wait at least a minute and a half for people to stop staging
# changes...
StagingQuietPeriod = 90

# ...but we'll never wait for more than 15 minutes
StagingMaximumWait = 1800

# usually, stream-events should inform us of staged changes, but we poll once per hour as a backup
StagingPollInterval = 3600

# restart every couple of days as insurance against resource leaks
RestartInterval = 172800

# Real jobs
[QtTools_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qttools"
GerritBranch = master
[QtTools_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qttools"
GerritBranch = dev
[QtTools_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qttools"
GerritBranch = stable
[QtTools_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qttools"
GerritBranch = release

[QtQA_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtqa"
GerritBranch = master

[QtQA_sysadmin_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qtqa/sysadmin"
GerritBranch = master

[Qt3D_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qt3d"
GerritBranch = master
[Qt3D_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qt3d"
GerritBranch = dev
[Qt3D_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qt3d"
GerritBranch = stable
[Qt3D_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qt3d"
GerritBranch = release

[Qt5_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qt5"
GerritBranch = master
[Qt5_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qt5"
GerritBranch = dev
[Qt5_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qt5"
GerritBranch = stable
[Qt5_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qt5"
GerritBranch = release

[Qt_4.8_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qt"
GerritBranch = 4.8

[QtActiveQt_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtactiveqt"
GerritBranch = master
[QtActiveQt_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtactiveqt"
GerritBranch = dev
[QtActiveQt_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtactiveqt"
GerritBranch = stable
[QtActiveQt_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtactiveqt"
GerritBranch = release

[QtBase_buildsystem_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtbase"
GerritBranch = buildsystem

[QtBase_containers_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtbase"
GerritBranch = containers

[QtBase_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtbase"
GerritBranch = master
[QtBase_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtbase"
GerritBranch = dev
[QtBase_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtbase"
GerritBranch = stable
[QtBase_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtbase"
GerritBranch = release

[QtConnectivity_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtconnectivity"
GerritBranch = master
[QtConnectivity_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtconnectivity"
GerritBranch = dev
[QtConnectivity_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtconnectivity"
GerritBranch = stable
[QtConnectivity_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtconnectivity"
GerritBranch = release

[QtDeclarative_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtdeclarative"
GerritBranch = master
[QtDeclarative_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtdeclarative"
GerritBranch = dev
[QtDeclarative_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtdeclarative"
GerritBranch = stable
[QtDeclarative_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtdeclarative"
GerritBranch = release

[QtDocGallery_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtdocgallery"
GerritBranch = master
[QtDocGallery_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtdocgallery"
GerritBranch = dev
[QtDocGallery_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtdocgallery"
GerritBranch = stable
[QtDocGallery_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtdocgallery"
GerritBranch = release

[QtDoc_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtdoc"
GerritBranch = master
[QtDoc_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtdoc"
GerritBranch = dev
[QtDoc_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtdoc"
GerritBranch = stable
[QtDoc_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtdoc"
GerritBranch = release

[QtFeedback_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtfeedback"
GerritBranch = master
[QtFeedback_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtfeedback"
GerritBranch = dev
[QtFeedback_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtfeedback"
GerritBranch = stable
[QtFeedback_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtfeedback"
GerritBranch = release

[QtGraphicalEffects_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtgraphicaleffects"
GerritBranch = master
[QtGraphicalEffects_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtgraphicaleffects"
GerritBranch = dev
[QtGraphicalEffects_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtgraphicaleffects"
GerritBranch = stable
[QtGraphicalEffects_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtgraphicaleffects"
GerritBranch = release

[QtImageFormats_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtimageformats"
GerritBranch = master
[QtImageFormats_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtimageformats"
GerritBranch = dev
[QtImageFormats_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtimageformats"
GerritBranch = stable
[QtImageFormats_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtimageformats"
GerritBranch = release

[QtJSBackend_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtjsbackend"
GerritBranch = master
[QtJSBackend_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtjsbackend"
GerritBranch = dev
[QtJSBackend_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtjsbackend"
GerritBranch = stable
[QtJSBackend_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtjsbackend"
GerritBranch = release

[QtJsonDb_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtjsondb"
GerritBranch = master
[QtJsonDb_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtjsondb"
GerritBranch = dev
[QtJsonDb_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtjsondb"
GerritBranch = stable
[QtJsonDb_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtjsondb"
GerritBranch = release

[QtLocation_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtlocation"
GerritBranch = master
[QtLocation_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtlocation"
GerritBranch = dev
[QtLocation_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtlocation"
GerritBranch = stable
[QtLocation_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtlocation"
GerritBranch = release

[QtMultimedia_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtmultimedia"
GerritBranch = master
[QtMultimedia_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtmultimedia"
GerritBranch = dev
[QtMultimedia_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtmultimedia"
GerritBranch = stable
[QtMultimedia_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtmultimedia"
GerritBranch = release

[QtPim_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtpim"
GerritBranch = master
[QtPim_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtpim"
GerritBranch = dev
[QtPim_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtpim"
GerritBranch = stable
[QtPim_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtpim"
GerritBranch = release

[QtQuick1_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtquick1"
GerritBranch = master
[QtQuick1_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtquick1"
GerritBranch = dev
[QtQuick1_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtquick1"
GerritBranch = stable
[QtQuick1_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtquick1"
GerritBranch = release

[QtScript_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtscript"
GerritBranch = master
[QtScript_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtscript"
GerritBranch = dev
[QtScript_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtscript"
GerritBranch = stable
[QtScript_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtscript"
GerritBranch = release

[QtSensors_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtsensors"
GerritBranch = master
[QtSensors_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtsensors"
GerritBranch = dev
[QtSensors_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtsensors"
GerritBranch = stable
[QtSensors_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtsensors"
GerritBranch = release

[QtSvg_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtsvg"
GerritBranch = master
[QtSvg_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtsvg"
GerritBranch = dev
[QtSvg_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtsvg"
GerritBranch = stable
[QtSvg_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtsvg"
GerritBranch = release

[QtSystems_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtsystems"
GerritBranch = master
[QtSystems_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtsystems"
GerritBranch = dev
[QtSystems_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtsystems"
GerritBranch = stable
[QtSystems_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtsystems"
GerritBranch = release

[QtTranslations_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qttranslations"
GerritBranch = master
[QtTranslations_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qttranslations"
GerritBranch = dev
[QtTranslations_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qttranslations"
GerritBranch = stable
[QtTranslations_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qttranslations"
GerritBranch = release

[QtXmlPatterns_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtxmlpatterns"
GerritBranch = master
[QtXmlPatterns_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtxmlpatterns"
GerritBranch = dev
[QtXmlPatterns_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtxmlpatterns"
GerritBranch = stable
[QtXmlPatterns_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtxmlpatterns"
GerritBranch = release

[QtWebKit_Examples_and_Demos_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtwebkit-examples-and-demos"
GerritBranch = master
[QtWebKit_Examples_and_Demos_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtwebkit-examples-and-demos"
GerritBranch = dev
[QtWebKit_Examples_and_Demos_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtwebkit-examples-and-demos"
GerritBranch = stable
[QtWebKit_Examples_and_Demos_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtwebkit-examples-and-demos"
GerritBranch = release

[QtWebKit_dev_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtwebkit"
GerritBranch = dev
[QtWebKit_stable_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtwebkit"
GerritBranch = stable
[QtWebKit_release_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/qt/qtwebkit"
GerritBranch = release

[QtDesktopComponents_master_Integration]
Enabled = 1
GerritUrl = "ssh://codereview.qt-project.org:29418/playground/qtdesktopcomponents"
GerritBranch = master
